

.custom-cursor,
.cursor-follower {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  border-radius: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  opacity: 1; /* Alapértelmezett állapotban látható */
  transition: opacity 0.4s ease-out; /* Sima eltűnés és megjelenés */
}

.custom-cursor {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 47, 0);
}

.cursor-follower {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(255, 47, 0);
}
